/**
 * Styles for The Lonely Cowboy
 *
 * @author Rogier van der Linde
 *
 */


/* ===========================================
   Reset
   =========================================== */

/* ===========================================
   Reset
   =========================================== */

   * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
   }
   
   /* ===========================================
      General
      =========================================== */
   
   body {
      background-color: #f1f1f1;
      font-family: Raleway, sans-serif;
      font-size: 15px;
      line-height: 1.5;
      margin: 0 auto;
      max-width: 1200px;
   }
   
   a {
      color: #000;
      text-decoration: none;
   }
   
   img {
      border: 0;
      max-width: 100%;
   }
   
   p {
      margin-bottom: 1em;
   }
   
   ul {
      list-style: none;
   }
   
   .inverted {
      background-color: #000;
      color: #fff;
      padding: 0 0.5em;
   }
   
   .card {
      background: #fff;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 2em;
   }
   
   .card__title {
      background-color: #f1f1f1;
      font-size: 1.3em;
      font-weight: 400;
      padding: 0.7em 1em;
   }
   
   .card__container {
      padding: 1em;
   }
   
   /* buttons */
   .button {
      border: 1px solid #ccc;
      color: #000;
      display: inline-block;
      font-weight: bold;
      padding: 0.5em 1em;
      text-transform: uppercase;
      transition: background 0.2s;
   }
   
   .button:not(.inactive):hover {
      background-color: #ccc;
   }
   
   .button.inactive {
      cursor: not-allowed;
      opacity: 0.3;
   }
   
   .button--dark {
      background-color: #000;
      border-color: #000;
      color: #fff;
      padding: 0.6em 1.2em;
   }
   
   .button--dark:not(.inactive):hover {
      background-color: #ccc;
      color: #000;
   }
   
   /* ===========================================
         Header
         =========================================== */
   
   header {
      padding: 2em 1em;
   }
   
   .header__title {
      font-size: 2.5em;
      font-weight: bold;
      margin: 10px 0;
      text-align: center;
   }
   
   .header__tagline {
      animation: stretch 2s;
      margin: 1em 0 2em 0;
      text-align: center;
      transform: scale(1, 1);
   }
   
   nav ul {
      display: flex;
      justify-content: center;
      text-align: center;
   }
   
   nav li.active,
   nav li:hover {
      background-color: #ccc;
   }
   
   nav a {
      display: block;
      padding: 0.5em 1em;
   }
   
   /* ===========================================
      Main
      =========================================== */
   
   main {
      display: grid;
      gap: 2em;
      grid-template-columns: 2fr 1fr;
      padding: 2em 1em;
   }
   
   .post__title {
      font-size: 1.5em;
      font-weight: bold;
   }
   
   .post__subtitle {
      font-style: italic;
      font-size: 1.2em;
      margin: 0.5em 0;
   }
   
   .post__content {
      margin: 1.5em 0;
   }
   
   .post__footer {
      align-items: flex-end;
      display: flex;
      justify-content: space-between;
   }
   
   /* about me card */
   .about__title {
      font-size: 1.35em;
      margin-bottom: 1em;
   }
   
   .about__content {
      margin-bottom: 1em;
   }
   
   /* ===========================================
      Footer
      =========================================== */
   
   .site__footer {
      align-items: end;
      background-color: #666;
      color: #fff;
      display: flex;
      justify-content: space-between;
      padding: 2em 1em;
   }
   
   .footer__buttons {
      display: flex;
      gap: 0.5em;
   }
   
   .social__list {
      display: flex;
      gap: 1em;
   }
   
   