/* ===========================================
   Main
   =========================================== */

/* top */

#main_top {
   padding: 30px 15px 0 15px;
}

#main_top h2 {
   font-weight: bold;
   text-transform: uppercase;
}

address {
   font-size: 14px;
   font-style: normal;
   line-height: 1.6;
   margin-bottom: 20px;
}

/* bottom */

#main_bottom {
   padding: 30px 15px 0 15px;
}

iframe {
   border: none;
   width: 100%;
}

/* form */

form label {
   font-size: 16px;
   font-style: italic;
}

form input,
form select {
   padding: 7px;
}

header .wrapper {
   max-width: 60%;
   display: flex;
   justify-content: space-between;
   margin-left: auto;
   margin-right: auto;
   align-items: flex-end;
}

#mainmenu {
   display: flex;
   list-style-type: none;
   justify-content: space-around;
}

#mainmenu li {
   margin-left: 35px;
}

footer {
   max-width: 60%;
   margin-left: auto;
   margin-right: auto;  
}

footer .wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#social_icons {
   display: flex;
   list-style-type: none;
}

#social_icons li {
   margin-left: 10px;
}

main {
   max-width: 60%;
   margin-left: auto;
   margin-right: auto;
}

#bottom_content {
   display: flex;
}

.bottomleft {
   width: 100%;
   margin-right: 15px;
}

.info_form p {
       margin-bottom: 15px;
       display: flex;
       justify-content: space-between;
}

.info_form label {
   margin-bottom: 15px;
   width: 24%;
}

.info_form select,
.info_form input,
.info_form textarea {
   width: 75%;
   padding: 10px; 
   border: 1px solid #ccc;
   border-radius:5px;
}
