/* ===========================================
   Banner
   =========================================== */

#banner {
   background-image: url(../img/banner.jpg);
   background-size: cover;
}

#banner .wrapper {
   min-height: 300px;
}
   
.banner_box .btn-cta {
   font-size: 18px;
   padding: 14px 30px;   
}

.banner_box .btn-cta:hover {
   color: white;
}
   
.banner_box p {
   color: #444;
   font-size: 30px;
   font-weight: bold;
   margin-bottom: 30px;
}
   
/* ===========================================
   Main
   =========================================== */
   
/* left */
   
.mainleft {
   padding: 30px 15px 0 15px;
}
   
#gallery {
   margin: 35px 0;
}
   
/* right */
   
.mainright {
   padding: 30px 15px 0 15px;
}
   
.mainright h3 a {
   border-bottom: 1px solid #cccccc;
   color: #333;
}
   
.mainright h3 a:hover {
   color: #be0a35;
   text-decoration: none;
}
   
.workshop .date {
   border: 1px solid #ccc;
}

.workshop .day {
   font-size: 60px;
   line-height: 1em;
}
   
.readmore {
   display: block;
   margin-top: 10px;
}
   
header .wrapper {
   max-width: 60%;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}
   
#mainmenu {
   display: flex;
   list-style-type: none;
   justify-content: space-around;
}   
   
#mainmenu li {
   margin-left: 35px;
}   

#banner {
   height: 40vh;
}

#banner .wrapper {
   max-width: 60%;
   margin-left: auto;
   margin-right: auto;
}

#banner .wrapper p {
   text-align: end;
}

main {
   max-width: 60%;
   margin-left: auto;
   margin-right: auto;
}

main .wrapper {
   display: flex;
}

#gallery {
   display: flex;
   flex-wrap: wrap;
}

#gallery a {
   margin: 5px;
   flex-basis: 23%;
}

.date {
   display: flex;
   flex-direction: column;
   border: #dfdfdf solid 1px;
   padding: 5px;
   float: left;
   margin-right: 8px;
}

.btn-cta {
     float: right;
     max-width: 35%;
     margin: 5px;
}

footer {
   max-width: 60%;
   margin-left: auto;
   margin-right: auto;
}

footer .wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#social_icons {
   display: flex;
   list-style-type: none;
}

#social_icons li {
   margin-left: 10px;
}